#b1{
    font-family: sans-serif; 
    font-size: 18px;
    font-weight: 400;
    background: rgb(107, 193, 233);
  }

  #b2{
    font-family: Cursive; 
    font-size: 18px;
    font-weight: 800;
    background: rgb(16, 119, 167);
  }